AutomatedSiteProvisioning_20230802092402/Microsoft.Flow/flows/ae8790a3-f514-4407-b79a-5015a0769882/definition.json
{"name":"438ce2ed-f8be-4405-b496-7e73dd953ed1","id":"/providers/Microsoft.Flow/flows/438ce2ed-f8be-4405-b496-7e73dd953ed1","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SiteExistOrNot","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"7455cf91-bc5f-476a-9cdc-f5ef621bbf47","type":"User","tenantId":"83fe1687-8e3c-44fa-b2b5-37cd6736549e"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-01-14T14:18:50.1726924Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"129ccc8e-a457-4bad-88d2-5297d39d5eb9"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Compose_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false}},"required":["Compose_Inputs"]}}}},"actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"876d9ea3-3387-40bc-a6ce-c33f9d33372d"},"type":"Compose","inputs":"@triggerBody()['Compose_Inputs']"},"Scope":{"actions":{"Send_an_HTTP_request_to_SharePoint":{"runAfter":{},"metadata":{"operationMetadataId":"8e24849f-a80f-45e0-bd0a-0a95c20a4e6c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@outputs('Compose')","parameters/method":"GET","parameters/uri":"_api/web/url","parameters/headers":{"Accept":"application/json;odata.verbose","Content-Type":"application/json;oData=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"85fd7e9c-6994-47c0-b37d-01ccaa449105"},"type":"Scope"},"Compose_2":{"runAfter":{"Scope":["Succeeded"]},"metadata":{"operationMetadataId":"5e43a217-7d72-45aa-bdfe-5d596b80f8a1"},"type":"Compose","inputs":"Sucess"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"f188a75a-b501-45a6-a2fc-cf8f3882dca8"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"site":"Exist"},"schema":{"type":"object","properties":{"site":{"title":"Site","x-ms-dynamically-added":true,"type":"string"}}}}},"Compose_3":{"runAfter":{"Scope":["Failed"]},"metadata":{"operationMetadataId":"56dd04ab-1eca-4d51-824c-1c9159cbe80e"},"type":"Compose","inputs":"Failed"},"Respond_to_a_PowerApp_or_flow_2":{"runAfter":{"Compose_3":["Succeeded"]},"metadata":{"operationMetadataId":"33b80f5f-f5b6-4565-80c8-b1aa80baade1"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"site":"Non-Exist"},"schema":{"type":"object","properties":{"site":{"title":"Site","x-ms-dynamically-added":true,"type":"string"}}}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"c678a8cd32514d0b87d50b226a0ab61c","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}